.modalcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.modal_icon{
    color: white;
    position: fixed;
    top: 30px;
    right: 84px;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 800px){
  .modal_icon {
       right: 37px;
    }
}