.modal{
    position: relative;
}
.modal_container{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 195px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 6px rgb(0,0,0,.5);
}

.dp_btn{
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
}

.dp_btn:focus{
    outline: none;

}

.logout_btn{
    border: none;
    outline: none;
    background: transparent;
    padding-top: 10px;
    cursor: pointer;
}

.logout_btn:focus{
    outline: none;

}