.home{
    padding: 70px 145px;
}
.icon{
    color: tomato;
}

.container__display{
    width: 100%;
}

.iconSvg{
    font-size: 50px !important;
    border: 1px solid black;
}

@media screen and (max-width: 800px){
    .home{
        padding: 53px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}