.imageUpload{
    display: flex;
    flex-direction: column;
}

.imageUpload_progress{
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

.imageUpload_input{
    border: none;
    color: black;
    margin: 10px 0;
    padding: 10px;
    outline: none;
}

.imageUpload_input:focus{
    outline: none;
}

.imageUpload_btn{
    outline: none;
    border: none;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    background: #00aff0;
    color: white;
    font-weight: 500;
    transition: all .3s;
}

.imageUpload_btn:hover{
    background: #0194c9;
}