.nav{
    width: 100%;
    background-color: white;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    padding: 10px 159px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.nav_bottom{
    display: none;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ig_logo{
    width: 100px;
}

.right_icons{
    display: flex;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
}

.navProfile_pics{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.nav_icon{
    font-size: 24px !important;
    margin: 0 15px;
    cursor: pointer;
    font-weight: 400 !important;
    color: #323232 !important;
}

.border{
    border: 1px solid #323232;
    border-radius: 7px;
}
.rotate_icon{
    transform: rotate(-24deg) translateY(-4px);
}

.unhide{
    display: none !important;
}



@media screen and (max-width: 800px){
    .nav{
        padding: 10px;
    }

    .nav_bottom{
        top: unset;
        bottom: 0;
        display: block;
    }

    .left_logo_media{
        display: none;
    }

    .unhide{
        display: block !important;
    }

    .hide{
        display: none !important;
    }

    .right_icons_media{
        width: unset;
    }

    .right__media{
        width: 100%;
    }
    }