.nav{
    width: 100%;
    background-color: white;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    padding: 10px 151px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ig_logo{
    width: 90px;
}

.right_icons{
    display: flex;
    align-items: center;
}

.navProfile_pics{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.nav_icon{
    font-size: 24px !important;
    margin: 0 15px;
    cursor: pointer;
    font-weight: 400 !important;
    color: #323232 !important;
}

.border{
    border: 1px solid #323232;
    border-radius: 7px;
}
.rotate_icon{
    transform: rotate(-24deg);
}