.login{
    margin: unset !important;
}

.login__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login_img_box{
    display: flex;
    position: relative;
}

.login_img{
    width: 364px;
    object-fit: contain;
}

.img_overlay{
    position: absolute;
    top: 81px;
    left: 121px;
    width: 192px;
    object-fit: contain;
}

.ig_logo_auth{
    width: 115px;
    object-fit: contain;
    margin-bottom: 15px;
}

@media screen and (max-width: 800px){
    .login_img_box{
        display: none !important;
    }

   

    .login{
        width: 280px !important;
    }
    }